@charset "UTF-8";

body {
    background: #f0f0f0;
    font-family: Calibri, sans-serif;
    color: #545454;
    margin: 0;
    padding: 0;
}

.header{
	background: #ffffff;
	border-bottom: 1px solid #d4d4d4;
}

/* Le body contient le menu et le content */
.body{
	display:flex;
/* 	margin: 0 12em; */
	margin: auto;
    width: 1200px;
    min-width: 800px;
}

.dispFlex{
	display:Flex;
}

.menu{
	float:left;
	padding:0.5em;
	width:15em;
}

.content{
	border-left:1px solid #d4d4d4;
	flex:1;
	padding:5px;
}

.footer{
	clear:both;
}

h3 {
    color: #004462;
    font-size: 1.6em;
    margin: 0 0 5px;
}

.label {
    color: #004462;
    font-size: 0.76em;
}

.data {
    font-size: 0.95em;
    line-height: 1em;
    padding: 0 0.2em;
}

.command{
	margin:0 1em;	
}

.cercleVert{
  	background:#bfd70e;
  	border-radius:50%;
  	width:15px;
  	height:15px;
  	margin:0 0.5em;
}

.cercleRouge{
  	background:red;
  	border-radius:50%;
  	width:15px;
  	height:15px;
  	margin:0 0.5em;
}

.editIcone{
	text-align: right;
}
